<h1>Documents of <%= @parent.name %></h1>

<h1>Editing document</h1>

<%= render :partial => "form", :locals => {:type => "Update"} %>

<%= link_to 'Show', polymorphic_url([@parent, @document]) %> |
<%= link_to 'Back',polymorphic_url([@parent, :documents]) %>
